div.gaugeAmp {
	font-family: sans-serif;
	font-size: 19px;
	text-align: center;
	width: 270px;
	height: 150px;
	border: 2px outset black;
	background: white;
	float: left;
	padding: 15px;
	margin: 5px;
}
