@font-face {
	font-family: "digital";
	src: url("resource/digital.ttf") format("truetype");
}

div.watermeter {
	float: left;
	font-family: sans-serif;
	font-size: 19px;
	text-align: center;
	width: 270px;
	border: 2px outset black;
	background: white;
	padding: 15px;
	margin: 5px;
}

div.watermeter-frame {
	height: 75px;
	padding: 0;
	margin: 0;
}

div.watermeter-digits {
	text-align: right;
	padding: 8px 12px;
	margin: 10px 0;
	width: 160px;
	font-size: 30px;
	font-family: digital;
	float: left;
	border: 4px inset grey;
	background: #77dd66;
}

div.watermeter-unit {
	float: left;
	font-size: 15px;
	width: 20px;
	height: 15%;
	padding: 25px 5px;
	margin: 10px 0;
}

