<div class="watermeter">
	Water
	<div class="watermeter-frame">
		<div id="watermeter" class="watermeter-digits">
	    00000.000
		</div>
		<div class="watermeter-unit">
			m<sup>3</sup>
		</div>
	</div>
</div>

