<div class="meter">
		Opbrengst	
	<div class="meter-frame">
		<div class="meter-title">
			Today	
		</div>
		<div id="EacToday" class="meter-growatt-digits">
			00000.0
		</div>
		<div class="meter-unit">
	    kWh
		</div>
	</div>
	<div class="meter-frame">
		<div class="meter-title">
			Total 
		</div>
		<div id="EacTotal" class="meter-growatt-digits">
	    00000.0
		</div>
		<div class="meter-unit">
	    kWh
		</div>
	</div>
</div>

