<div class="meter">
	<div id="meter-tariff-arrow" class="meter-tariff-arrow">
		&#8598;
	</div>
	Electriciteit
	<div class="meter-frame">
		<div class="meter-tariff-id">
			I
		</div>
		<div id="meter-T1" class="meter-digits">
	    00000.000
		</div>
		<div class="meter-unit">
	    kWh
		</div>
	</div>
	<div class="meter-frame">
		<div class="meter-tariff-id">
	    II
		</div>
		<div id="meter-T2" class="meter-digits">
	    00000.000
		</div>
		<div class="meter-unit">
	    kWh
		</div>
	</div>
	Gas
	<div class="meter-frame">
		<div class="meter-tariff-id">
		</div>
		<div id="meter-GasM1" class="meter-digits">
	    00000.000
		</div>
		<div class="meter-unit">
			m<sup>3</sup>
		</div>
	</div>
</div>

